extends layout/header
block content
    div(ng-app="postsApp", ng-controller="postsController", ng-cloak, ng-init="init('course')")
        div(ng-show="permissions && permissions.canEditCourses")
            button.btn.btn-primary(type="Submit" ng-click="addPost()" ) {{addButtonText}}
            div
                div(ng-show="isEditing")
                    div
                        form
                            textarea(name="editor1")
        div.panel.panel-body(ng-repeat="p in posts")
            button.btn.btn-fab.btn-raised.btn-primary.btn-fab-mini(ng-show="permissions && permissions.canEditCourses" data-toggle="modal" data-target="#complete-dialog" type="Submit" ng-click='editPost(p)' )
                i.mdi-image-edit
            p(ng-bind-html="p.data | to_trusted")
        include common/post-edit-dialog
block script
    script(src="/ckeditor.js")
    script CKEDITOR.replace('editor1', {customConfig: 'ckeditor/ckeditor-custom-config.js'});
    script CKEDITOR.replace('editor2', {customConfig: 'ckeditor/ckeditor-custom-config.js'});
    script(src="/js/postsApp.js")
    script(src="/js/controllers.js")
