extends layout/header

block content
   div(ng-app="cpanelApp", ng-controller="cpanelController", ng-cloak)
      div.navbar.navbar-default
         ul.nav.navbar-nav
               li
                  a(href="#users")
                     | Users

block script
   script(src="/js/homeApp.js")
   script(src="/js/controllers.js")