extends layout/header

block content
   div(ng-app="cpanelApp", ng-controller="cpanelController", ng-cloak)
      div.navbar.navbar-default
         ul.nav.navbar-nav
               li
                  a(href="#users")
                     | Users
               li
                  a(href="#libsections")
                     | Lib Sections
      div(ng-repeat="n in users")
         div.media-body
            a(ng-href="{{n.fileUrl}}")
               h4.media-heading {{n.displayName}}
               | {{n.description}}

block script
   script(src="/js/cpanelApp.js")
   script(src="/js/controllers.js")