extends layout/header

block content
   include users/profileInfo
   div(ng-app="cpanelApp", ng-controller="cpanelController", ng-cloak)
      //div.navbar.navbar-default
      //   ul.nav.navbar-nav
      //         li
      //            a(href="/users")
      //               | Users
      //         li
      //            a(href="/libsections")
      //               | Lib Sections
      div.form-group(align="center" style="margin:50px")
         div.btn-group-vertical
            a.btn.btn-raised(href="/users") Users
            a.btn.btn-raised(href="/libsections") Library Sections

block script
   script(src="/js/cpanelApp.js")
   script(src="/js/controllers.js")
   script(src="/js/profileApp.js")
   script(src="/js/angular-file-upload.min.js")
