extends layout/header

block content
    div.panel.panel-default(ng-app="homeApp", ng-controller="homeController", ng-cloak)
        div.jumbotron
            if user
                div.user-image
                    img.img-circle(src= "#{avatarURL}")
            p= params
            h2 #{user.displayName}

block script
    script(src="/js/homeApp.js")
    script(src="/js/controllers.js")