extends layout/header
block content
    div.panel.panel-default(ng-app="profileApp" ng-cloak)

block script
    script(src="/js/profileApp.js")
    script(src="/js/angular-file-upload.min.js")
    script(src="/js/controllers.js")