extends layout/header
block content
    div(ng-app="postsApp", ng-controller="postsController", ng-cloak, ng-init="init('singlepost')")
        div(align="center")
            small post
        div.permalink
            a.parmalink(href="/posts/" + "#{post._id}") #{trans['permalink']}
                img.permalink(src="/images/permalink-icon.png" )
        div.list-group-separator

        div
           div.panel.panel-body
               //if(isLoggedIn)
               //    div
               //        button.btn.btn-fab.btn-raised.btn-primary.btn-fab-mini(data-toggle="modal" data-target="#complete-dialog" type="Submit" ng-click='editPost(editingPost)' )
               //            i.mdi-image-edit
               p!=  post.data

        include common/post-edit-dialog
block script
    script(src="/ckeditor.js")
    if(isLoggedIn)
        script CKEDITOR.replace('editor2', {customConfig: 'ckeditor/ckeditor-custom-config.js'});
    script(src="/js/postsApp.js")
    script(src="/js/controllers.js")
    script(src="/js/usersApp.js")
    script(src="/js/angular-file-upload.min.js")
    script editingPost = post