extends layout/header
block content
    div(align="center")
        small post
    div.permalink
        a.parmalink(href="/posts/" + "#{post._id}") permalink
            img.permalink(src="/images/permalink-icon.png")
    div.list-group-separator
    div
       div.panel.panel-body
          p!=  post.data
block script
    script(src="/ckeditor.js")
    script(src="/js/postsApp.js")