extends layout/header
block content
    div(align="center")
        small post
    div.list-group-separator
    div
       div.panel.panel-body
          a(href="/posts/" + "#{post._id}") pemalink
          p!=  post.data
block script
    script(src="/ckeditor.js")
    script(src="/js/postsApp.js")