extends layout/header

block content
    include users/profileInfo
    include ./users/profileEditor.jade

block script
    script(src="/js/profileApp.js")
    script(src="/js/angular-file-upload.min.js")
    script(src="/js/controllers.js")