<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="//blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload.css">
    <link rel="stylesheet" type="text/css" href="//blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>
<h1>BinaryJS File Upload and Streaming</h1>

<section id="main">
    <fieldset>
        <legend>Drag n Drop</legend>
        <aside id="upload-box">
            <article id="progress">Drop file here</article>
        </aside>
    </fieldset>

    <fieldset>
        <legend>Select a Link</legend>

        <nav id="list" class="left"></nav>
    </fieldset>

    <fieldset>
        <legend>Play the Video</legend>

        <section class="left">
            <video id="video"></video>
        </section>
    </fieldset>
</section>

<!--<script type="text/javascript" src="/scripts/file_upload.js"></script>-->

<script src="/scripts/binary.js"></script>
<script src="/scripts/jquery.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/video.js"></script>
<script src="/scripts/main.js"></script>

</body>
</html>