extends layout/header
block content
   div(align="center")
      small posts by
      a(href="#{username}")
         h4.text-primary #{username}
   div.list-group-separator
   div
      each v, ind in posts
         div.permalink
            a.parmalink(href="/posts/" + "#{v._id}") #{trans['permalink']}
               img.permalink(src="/images/permalink-icon.png")
         div.panel.panel-body
            p!=  v.data

block script
   script(src="/ckeditor.js")
   script(src="/js/postsApp.js")