
/*===== RESOLUTIONS =====*/
@media screen and (max-width: 1600px) {
    .header-logo-descr{
        visibility: collapse;
        width: 0;
        height: 0;
    }
    .header-logo{
        width: 80px;
    }
    .header-logo-common{
        width: 10%;
    }

    .search-form{
    //padding-top: 100px;
    }
    div.container.main-content{
        left:15%;
    }
}


@media screen and (max-width: 1200px) {

    header .navbar .navbar-nav > li > a {
        font-size: 11px;
    }
    .header-user-name{
        visibility: collapse;
    }

    div.container.main-content{
        left:0%;
    }

}

@media screen and (max-width: 1100px) {
    .sidebar{
        visibility: collapse;
    }
}
@media screen and (max-width: 818px) {
    .header-logo-common{
        visibility: collapse;
    }

    .search-form{
        visibility: collapse;
    }

}