
/*===== RESOLUTIONS =====*/
@media screen and (max-width: 1600px) {
    div.container.main-content{
        left:15%;
    }
    .row.menu-row {
        padding-left: 8%;
    }
}

@media screen and (max-width: 1550px) {
    .header-logo-common{
        width: 18%;
    }
    .row.menu-row {
        padding-left: 11%;
    }
}

@media screen and (max-width: 1420px) {

    .search-container{
        width: 6%;
        right: 12%;
    }
    .login-logout{
        visibility: collapse;
    }
}


@media screen and (max-width: 1350px) {
    header .navbar .navbar-nav > li > a {
        font-size: 17px;
    }
    .search-container{
        visibility: collapse;
    }
}
@media screen and (max-width: 1220px) {
    .header-logo-descr{
        visibility: collapse;
    }
    .header-logo{
        width: 80px;
    }
    header .navbar .navbar-nav > li > a {
        font-size: 11px;
    }
    .header-user-name{
        visibility: collapse;
    }

    div.container.main-content{
        left:0%;
    }

    .user-image-area{
        visibility: collapse;
    }

    .language-selector{
        visibility: collapse;
    }
}

@media screen and (max-width: 1100px) {
    .sidebar{
        visibility: collapse;
    }
}

@media screen and (max-width: 818px) {
    .header-logo-common{
        visibility: collapse;
    }

    .search-form{
        visibility: collapse;
    }

}