
.header{
    position: relative;
    z-index: 2;
    background: #242424;
}

.header-logo-common{
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 20%;
    overflow: hidden;
    background-color: #242424;
    height: 100%;
}

.header-logo-common:hover{
    background-color: #808080;
}

.header-logo-common:hover .header-logo-block{
    background-color: #808080;
}

.header-logo-block:hover {
    background-color: #808080;
}
.header-logo-common:hover .header-logo-descr {
    padding-bottom: 14px;
    background-color: #808080;
}
.header-logo-common:hover .header-logo {
    background-color: #808080;
}

.header-container{
     height: 100%;
    padding-left:0;
}

.col-xs-9{
    height: 100%;
}

header hr {
    margin: 0;
    border-top: 0px dashed #fff;
}

header .navbar.navbar {
    margin: 0;
    background: transparent;
    z-index: 1;
}

.navbar-nav{
/*header .navbar .navbar-nav {*/
    float: none;
    width: 100%;
    display: table;
    padding-left: 0px;
    height: 100%;
}
.navbar.navbar-default{
    height: 100%;
}

header .navbar .navbar-nav > li {
    width: 20%;

    display: table-cell;
    float: none;
    text-align: center;
    vertical-align: bottom;
}

header .navbar .navbar-nav > li > a {
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header .navbar .navbar-nav > li > a:hover {
    background-color: #808080;
    text-decoration: none;
}

li:hover{
    background-color: #808080;
}

.menu-link{
    //height: 100%;
    text-align: center;
    vertical-align: bottom;
    display:inline-block;

}

.menu-link-li{
    padding-top: 100px;
}

header .navbar .navbar-nav>li:hover .dropdown-menu {
    display: block;
}

header .dropdown-menu {
    background: #808080;
    border: none;
    border-radius: 0;
    text-align: center;
    top: 160px;
}

header .dropdown-menu:before {
    content: '';
    width: 0;
    height: 0;
    border-style: none;
    //border-width: 0 7px 8px 7px;
    border-color: transparent transparent #000 transparent;
    display: block;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -7px;
}

header .navbar.navbar .dropdown-menu li > a,
header .navbar-default.navbar .dropdown-menu li > a {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header .navbar.navbar .dropdown-menu li > a:hover,
header .navbar-default.navbar .dropdown-menu li > a:hover,
header .navbar.navbar .dropdown-menu li > a:focus,
header .navbar-default.navbar .dropdown-menu li > a:focus {
    background: #242424;
    font-weight: normal;
    color: #fff;
    font-size: 18px;
    border-radius: 0px;
}


/*header .navbar .navbar-nav > li > a > span {*/
    /*position: relative;*/
    /*color: #aa00ff;*/
    /*background-color: #f06292;*/
    /*font-weight: normal;*/
/*}*/

header .navbar .navbar-nav li:hover span:after,
header .navbar .navbar-nav a:hover span:after,
header .navbar .navbar-nav a.active span:after {
    content: '';
    width: 100%;
    border-bottom: 2px solid #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.navbar.navbar .dropdown-menu, .navbar-default.navbar .dropdown-menu {
    border-radius: 0px;
}

img.header-image{
    position: absolute;
    top: 15px;
    z-index: 0;
    max-width: 800px;
    min-width: 600px;
    overflow: hidden;
    background-color: #242424;
    margin: -7px auto;
    left: 0;
    right: 0;
}



.header-logo{
    z-index: 0;
    width: 190px;
    overflow: hidden;
    background-color: #242424;
    padding-top: 12px;
}

img.header-logo-descr{
    /*//position: absolute;*/
    /*top: 140px;*/
    /*left:5%;*/
    z-index: 0;
    width: 176px;
    overflow: hidden;
    background-color: #242424;
}

div.container.main-content{
    position:absolute;
    top:180px;
    left:20%;
}

div.language-selector{
    position:absolute;
    right:10px;
    top:10px;
    color: #aa00ff;
    z-index: 99999;
}

/*============== Header scroll ================*/
.header.is-stuck {
    position: fixed;
    padding:0;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.is-stuck .menu-link-li{
    padding:0;
    top: 0;
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.is-stuck .header-image{
    visibility: collapse;
}

.is-stuck .header-user-name{
    visibility: collapse;
}

.is-stuck img.img-circle.main-user-avatar{
    visibility: collapse;
    width: 0;
    height: 0;

}

.is-stuck .login-text{
    top:10px;
}
a.login-logout{
    position:absolute;
    top: 110px;
    right: 40px;
    margin-left:30px;
    padding-bottom:-10px;
    //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.is-stuck .header-logo-common {
    height: 100%;
    width: 14%;
}

.is-stuck .header-logo-descr{
    visibility: collapse;

    width: 0;
    height: 0;
}

.is-stuck .header-logo{
    width: 80px;
}

.is-stuck .dropdown-menu{
    top:60px;
}

.is-stuck .username{
    visibility: collapse;
}