.sidebar{
    width: 15%;
    position: absolute;
    right: 50px;
    top:190px;
}

p.sidebar-header{
    //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    //color: #800000;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.my-custom-theme {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.my-custom-theme .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 16px;
    padding: 8px 10px;

    max-width:400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
}