/*@font-face {*/
  /*font-family:"HelveticaNeue-Light";*/
  /*src:url(../fonts/HelveticaNeue-Light.otf) format("opentype");*/
  /*src:url(../fonts/HelveticaNeue-Light.woff) format("woff");*/

/*}*/

div.col-md-12{
  max-width: 880px;
  /*margin-left: 100px;*/
}

.right-nav a{
  color:#fff;
}

input[type=text].form-control.col-lg-8{
  margin-top: 10px;
}

a.pull-right{
  margin-top: 20px;
}

footer {
  background-color: #242424;
  color: #fff;
  height: 20px;
  //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
  font-family: 'Open Sans', sans-serif;
}

p.footerLeft{
  color: #fff;
  margin-top: -15px;
  position: absolute;
  left: 10px;
  font-size: 16px;
}
p.footerRight{
  margin-top: -15px;
  position: absolute;
  right: 10px;
  font-size: 16px;
}
a.footerCenter{
  margin-top: -15px;
  position: absolute;
  left: 50%;
  font-size: 16px;
}

div.navbar.navbar-fixed-bottom:hover
{
  //bottom: 0px;
}

div.navbar.navbar-fixed-bottom{
  position: fixed;
  bottom: -40px;
  background-color: #242424;
}
footer hr {
  margin-top: 4px;
  border-top: 0px dashed #242424;
}

div.navbar.navbar-fixed-bottom{

}

div.user-image-area{
  position:absolute;
  top: 22px;
  right: 30px;
  margin:10px;
}

img.img-circle.main-user-avatar{
  width: 64px;
  height: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-top-corner{
 position: relative;
  float: right;
  top:-10px;
  right:-20px;
}
.permalink{
  //padding: 3px;
}

div.date-created{
  padding-right: 30px;
  padding-bottom: 8px;
  font-size: 10px;
  float: right;
}

div.admin-menu{
  position:absolute;
  top: 100px;
  right: 200px;
}

  .category-label{
  position:relative;
  float: top;
  padding: 1px;
  top:2px;
  top: -18px;
  left: 25px;
}

span.label.label-default.post-label{
  position:relative;
  float: top;
  padding: 1px;
  top:2px;
  top: -18px;
  left: 15px;
}

a.label.label-info.post-user-label{
  position:relative;
  float: top;
  padding: 1px;
  top:2px;
  top: -18px;
  left: 1px;
}

span.header-user-name{
  position:absolute;
  top: 121px;
  right: 20px;
  margin-left:30px;
  //font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}

button.btn.btn-primary.ng-binding{
  background-color: #242424;
}

button.btn.btn-primary.ng-binding:hover{
  background-color: #800000;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.84);
}

.btn-primary:not(.btn-link):not(.btn-flat):hover {
  background-color: #800000;
  color: rgba(255, 255, 255, 0.84);
}

a{
  color: #800000;
}

a, a:hover, a:focus {
  color: #000000;
}

.text-primary {
  color: #000000;
}

.text-primary.header-text-small{
  color: #fff;
}

.form-control:focus, .form-control.focus {
  background-image: linear-gradient(#800000, #800000), linear-gradient(#d2d2d2, #d2d2d2);
}


/*.is-stuck .logout-text{*/
  /*padding-top:40px;*/
/*}*/