header {
  padding-top: 110px;
  background: #242424;
  background-image: url("../images/h.jpg");
  background-position : center;
  background-repeat: no-repeat;
  z-index: 2;
}

header hr {
  margin: 0;
  border-top: 0px dashed #fff;
}
header .navbar.navbar {
  margin: 0;
  background: #242424;
  z-index: 1;
}
header .navbar .navbar-nav {
  float: none;
  width: 100%;
  display: table;
}
header .navbar .navbar-nav>li {
  width: 20%;
  height: 60px;
  display: table-cell;
  float: none;
  text-align: center;
  vertical-align: middle;
}
header .navbar .navbar-nav>li:hover .dropdown-menu {
  display: block;
}

header .dropdown-menu {
  background: #000;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 0;
  top: 55px;
}

header .dropdown-menu:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #000 transparent;
  display: block;
  position: absolute;
  left: 50%;
  top: -8px;
  margin-left: -7px;
}


header .navbar.navbar .dropdown-menu li > a,
header .navbar-default.navbar .dropdown-menu li > a {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  font-family:'Lantinghei SC','Microsoft Yahei';
}
header .navbar.navbar .dropdown-menu li > a:hover,
header .navbar-default.navbar .dropdown-menu li > a:hover,
header .navbar.navbar .dropdown-menu li > a:focus,
header .navbar-default.navbar .dropdown-menu li > a:focus {
  background: #2f3538;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
header .navbar .navbar-nav > li > a {
  padding: 20px 0;
  font-size: 18px;
  font-family:'Lantinghei SC','Microsoft Yahei';
}
header .navbar .navbar-nav > li > a > span {
  position: relative;
  font-weight: bold;
}
header .navbar .navbar-nav li:hover span:after,
header .navbar .navbar-nav a:hover span:after,
header .navbar .navbar-nav a.active span:after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar.navbar .dropdown-menu, .navbar-default.navbar .dropdown-menu {
  border-radius: 5px;
}
.right-nav {

}
.right-nav a{
  color:#fff;
}

input[type=text].form-control.col-lg-8{
  margin-top: 10px;
}

a.pull-right{
  margin-top: 20px;
}

footer {
  background-color: #606468;
  height: 20px;
}

p.footerLeft{
  margin-top: -15px;
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #000;
}
p.footerRight{
  margin-top: -15px;
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #000;
}
a.footerCenter{
  margin-top: -15px;
  position: absolute;
  left: 50%;
  font-size: 16px;
  color: #000;
}

div.navbar.navbar-fixed-bottom:hover
{
  //bottom: 0px;
}

div.navbar.navbar-fixed-bottom{
  position: fixed;
  bottom: -40px;
  background-color: #606468;
}
footer hr {
  margin-top: 4px;
  border-top: 0px dashed #fff;
}

div.navbar.navbar-fixed-bottom{

}