@font-face {
  font-family:"HelveticaNeue-Light";
  src:url(../fonts/HelveticaNeue-Light.otf) format("opentype");
  src:url(../fonts/HelveticaNeue-Light.woff) format("woff");

}

/*header {*/
  /*padding-top: 110px;*/
  /*background: #242424;*/

  /*background-position : center;*/
  /*background-repeat: no-repeat;*/
  /*z-index: 2;*/
/*}*/

header hr {
  margin: 0;
  border-top: 0px dashed #fff;
}

header .navbar.navbar {
  margin: 0;
  background: transparent;
  z-index: 1;
}
header .navbar .navbar-nav {
  float: none;
  width: 100%;
  display: table;
}

header .navbar .navbar-nav>li {
  width: 20%;
  height: 60px;
  display: table-cell;
  float: none;
  text-align: center;
  vertical-align: middle;
}
header .navbar .navbar-nav>li:hover .dropdown-menu {
  display: block;
}

header .dropdown-menu {
  background: #000;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 0;
  top: 55px;
}

header .dropdown-menu:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #000 transparent;
  display: block;
  position: absolute;
  left: 50%;
  top: -8px;
  margin-left: -7px;
}


header .navbar.navbar .dropdown-menu li > a,
header .navbar-default.navbar .dropdown-menu li > a {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  //font-family:'Lantinghei SC','Microsoft Yahei';
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
}
header .navbar.navbar .dropdown-menu li > a:hover,
header .navbar-default.navbar .dropdown-menu li > a:hover,
header .navbar.navbar .dropdown-menu li > a:focus,
header .navbar-default.navbar .dropdown-menu li > a:focus {
  background: #2f3538;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
header .navbar .navbar-nav > li > a {
  padding: 20px 0;
  font-size: 21px;
  font-weight: normal;
  text-transform: uppercase;
  //font-family:'Lantinghei SC','Microsoft Yahei';
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
}

header .navbar .navbar-nav > li > a:hover {
  background-color: #303030;
}


header .navbar .navbar-nav > li > a > span {
  position: relative;
  font-weight: normal;
}
header .navbar .navbar-nav li:hover span:after,
header .navbar .navbar-nav a:hover span:after,
header .navbar .navbar-nav a.active span:after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar.navbar .dropdown-menu, .navbar-default.navbar .dropdown-menu {
  border-radius: 5px;
}

div.col-md-12{
  max-width: 880px;
  margin-left: 150px;
}

a.login-logout{
  position:absolute;
  top: 110px;
  right: 40px;
  margin-left:30px;
  padding-bottom:-10px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
}

.right-nav {

}
.right-nav a{
  color:#fff;
}

input[type=text].form-control.col-lg-8{
  margin-top: 10px;
}

a.pull-right{
  margin-top: 20px;
}

footer {
  background-color: #242424;
  color: #fff;
  height: 20px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
}

p.footerLeft{

  color: #fff;
  margin-top: -15px;
  position: absolute;
  left: 10px;
  font-size: 16px;
}
p.footerRight{
  margin-top: -15px;
  position: absolute;
  right: 10px;
  font-size: 16px;
}
a.footerCenter{
  margin-top: -15px;
  position: absolute;
  left: 50%;
  font-size: 16px;
}

div.navbar.navbar-fixed-bottom:hover
{
  //bottom: 0px;
}

div.navbar.navbar-fixed-bottom{
  position: fixed;
  bottom: -40px;
  background-color: #242424;
}
footer hr {
  margin-top: 4px;
  border-top: 0px dashed #242424;
}

div.navbar.navbar-fixed-bottom{

}

div.user-image-area{
  position:absolute;
  top: 20px;
  right: 30px;
  margin:10px;
}

img.img-circle.main-user-avatar{
  width: 64px;
  height: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.header-image{
  position: absolute;
  top: 15px;
  z-index: 0;
  max-width: 800px;
  min-width: 600px;
  overflow: hidden;
  background-color: #242424;
  margin: -7px auto;
  left: 0;
  right: 0;
}

a.permalink{
}
div.permalink{
  float: right;
  padding: 3px;
}

img.permalink{

}

div.admin-menu{
  position:absolute;
  top: 100px;
  right: 200px;
}

span.label.label-default.post-label{
  position:relative;
  float: top;
  padding: 1px;
  top:2px;
  top: -18px;
  left: 15px;
}

a.label.label-info.post-user-label{
  position:relative;
  float: top;
  padding: 1px;
  top:2px;
  top: -18px;
  left: 1px;
}

span.header-user-name{
  position:absolute;
  top: 121px;
  right: 20px;
  margin-left:30px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica",Arial,sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}

button.btn.btn-primary.ng-binding{
  background-color: #242424;
}

button.btn.btn-primary.ng-binding:hover{
  background-color: #800000;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.84);
}

.btn-primary:not(.btn-link):not(.btn-flat):hover {
  background-color: #800000;
  color: rgba(255, 255, 255, 0.84);
}

a{
  color: #800000;;
}

.text-primary {
  color: #800000;
}

.form-control:focus, .form-control.focus {
  background-image: linear-gradient(#800000, #800000), linear-gradient(#d2d2d2, #d2d2d2);
}

/*Header scroll*/
header.header {
  padding-top: 110px;
  background: #242424;
//background-image: url("../images/h.jpg");

  background-position : center;
  background-repeat: no-repeat;
  z-index: 2;
}

header.header.is-stuck {
  //padding-top: -80px;
  position: fixed;
  padding:0;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.is-stuck .header-image{
  visibility: collapse;
}

.is-stuck .header-user-name{
  visibility: collapse;
}

.is-stuck img.img-circle.main-user-avatar{
  visibility: collapse;
  width: 0;
  height: 0;

}


.is-stuck .user-image-area{
  top:0px;
  padding-top: 20px;
}

.is-stuck .login-text{
  top:10px;
}

/*.is-stuck .logout-text{*/
  /*padding-top:40px;*/
/*}*/