div.modal.fade(id="complete-dialog" tabindex="-1")
   div.modal-dialog
      div.modal-content
         div.modal-header
            button.close(data-dismiss="modal" aria-hidden="true")
            div.checkbox
               label
                  input(type="checkbox" ng-model="editingPost.showOnMain")
                  span.checkbox-material
               span  Show on main page
            div.checkbox
               label
                  input(type="checkbox" ng-model="editingPost.showInImportant")
                  span.checkbox-material
               span  Show on important panel
            fieldset
               div.form-group
               label.col-lg-2.control-label Description
               div.col-lg-10
                  input.form-control(type="text" name="desctiption" id="descr" placeholder="Give the name" autofocus ng-model="editingPost.description")

         div.modal-body
            form
               textarea(name="editor2")
         div.modal-footer
            button.btn.btn-primary(data-dismiss="modal" ng-click='savePost()') Save
            button.btn.btn-primary(data-dismiss="modal") Cancel
            button.btn.btn-primary(ng-if="editingPost.isDeleted" data-dismiss="modal" ng-click='restorePost()') Restore
            button.btn.btn-primary(ng-if="!editingPost.isDeleted" data-dismiss="modal" ng-click='deletePost()') Delete