div.panel.panel-body.bs-component(ng-repeat="s in sections")
   a(id="{{s._id}}")
   h3() {{s.name}}

   div(ng-repeat="p in s.posts")
      div.breadcrumb
         div.permalink
            a.parmalink(href="/posts/" + "{{p._id}}") #{trans['permalink']}
               img.permalink(src="/images/permalink-icon.png")
         button.btn.btn-fab.btn-raised.btn-primary.btn-fab-mini(ng-show="permissions && permissions.canEditCourses" data-toggle="modal" data-target="#complete-dialog" type="Submit" ng-click='editPost(p)' )
            i.mdi-image-edit
         p(ng-bind-html="p.data | to_trusted")