div.panel.panel-default(ng-app="profileApp" ng-cloak)
   div.panel-body(ng-controller='profileController')
      h2(ng-if="updateSuccessFlag") success
      h2(ng-if="updateErrorFlag") error
      include profileBody
