form.form-horizontal
    fieldset
        div.form-group
        //label.col-lg-2.control-label Login
        //div.col-lg-10
        //    label.control-label {{editingUser.name}}
        label.col-lg-2.control-label Name
        div.col-lg-10
            input#userName.form-control(typ1e="text" placeholder="DisplayName" ng-model="editingUser.displayName")
        label.col-lg-2.control-label Password
        div.col-lg-10
            input#userPassword.form-control(type="password" placeholder="Password" ng-model="editingUser.password")
        label.col-lg-2.control-label Avatar
        div.col-lg-10
            input.form-control(name="avatar" type="file" nv-file-select uploader="uploader" ng-model="editingUser.imageUrl")
    include ../upload/uploadImage.jade
    div.user-image
        img.img-circle(ng-src="{{editingUser.imageUrl}}", style="width: 64px; height: 64px;")