extends ../layout/header
block content
    div.panel-body(ng-app="signupApp", ng-controller="signupController", ng-cloak)
        form.form-signin(method="post")
            fieldset
                div.form-group
                label.col-lg-2.control-label Email
                div.col-lg-10
                    input.form-control(type="text" name="email" ng-model="editingUser.email" placeholder="Email address" required autofocus)
                label.col-lg-2.control-label Login Name
                div.col-lg-10
                  input.form-control(type="text" name="username" ng-model="editingUser.name" placeholder="Name" required autofocus)
                label.col-lg-2.control-label Display Name
                div.col-lg-10
                    input.form-control(type="text" name="displayName" ng-model="editingUser.displayName" placeholder="Name" required autofocus)
                label.col-lg-2.control-label Password
                div.col-lg-10
                    input.form-control(type="password" name="password" ng-model="editingUser.password" placeholder="Password" required autofocus)
                button.btn.btn-primary.btn-raised(ng-click='saveUser()' data-toggle="modal" type="submit") Sign up
block script
    script(src="/js/signupApp.js")
    script(src="/js/controllers.js")
