extends ../layout/header
block content
   div(ng-app="usersApp", ng-controller="usersController", ng-cloak)
      div(ng-repeat="n in users")
         div.media-body
            div.panel.panel-default(style="padding: 10px;")
               h4.media-heading {{n.displayName}}
               | {{n.description}}
               div
                  img.img-circle(ng-src="{{n.imageUrl}}", style="width: 64px; height: 64px;")
               div(align="right")
                  button.btn.btn-fab.btn-raised.btn-primary.btn-fab-mini(data-toggle="modal" data-target="#complete-dialog" type="Submit" ng-click='editUser(n)')
                     i.mdi-image-edit
      div.form-group
         div.col-lg-10.col-lg-offset-2
            button.btn.btn-primary(data-toggle="modal" data-target="#complete-dialog" type="Submit" ng-click='addUser()') +New user

        div.modal.fade(id="complete-dialog" tabindex="-1")
           div.modal-dialog
               div.modal-content
                   div.modal-header
                       img.img-circle(ng-src="{{editingUser.imageUrl}}", style="align: center; width: 64px; height: 64px;")
                   div.modal-body
                       form
                           form.form-horizontal
                                fieldset
                                    div.form-group
                                    label.col-lg-2.control-label Name
                                    div.col-lg-10
                                        input#userName.form-control(typ1e="text" placeholder="Display Name" ng-model="editingUser.displayName")
                                    label.col-lg-2.control-label Password
                                    div.col-lg-10
                                        input#userPassword.form-control(type="password" placeholder="Password" ng-model="editingUser.password")
                                    label.col-lg-2.control-label Avatar
                                    div.col-lg-10
                                        input.form-control(name="avatar" type="file" nv-file-select uploader="uploader" ng-model="editingUser.imageUrl")
                                    label.col-lg-2.control-label Email
                                    div.col-lg-10
                                        input#userEmail.form-control(type="email" placeholder="Email" ng-model="editingUser.email")
                                    div.col-lg-10
                                        div.togglebutton
                                           label
                                               input(type="checkbox" ng-model="editingUser.isAdmin")
                                               span.checkbox-material
                                               | Administrator


                   div.modal-footer
                       button.btn.btn-primary(data-dismiss="modal" ng-click='saveOrUpdateUser()') Save
                       button.btn.btn-primary(data-dismiss="modal") Cancel
                       button.btn.btn-primary(data-dismiss="modal" ng-click='deleteUser()') Delete
                       button.btn.btn-primary(ng-if="editingUser.isActive && editingUser.isActive == 1" data-dismiss="modal" ng-click='switchActivation()') Deactivate
                       button.btn.btn-primary(ng-if="!editingUser.isActive || editingUser.isActive && editingUser.isActive == 0" data-dismiss="modal" ng-click='switchActivation()') Activate
block script
   script(src="/js/usersApp.js")
   script(src="/js/controllers.js")
   script(src="/js/angular-file-upload.min.js")
