script( src="//code.jquery.com/jquery-1.10.2.min.js")
script( src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
link(href="/css/style.css" rel="stylesheet")
script( src="/material/js/ripples.min.js")
script( src="/material/js/material.min.js")

div.navbar.navbar-fixed-bottom
    footer.footer
        hr
        p.footerLeft copyrights
        p.footerRight contacts

script

    $(document).ready(function(){$.material.init();});

block script
