doctype html
html(lang= "ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="/material/css/roboto.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/material/css/material.css" rel="stylesheet")
        link(href="/material/css/ripples.min.css" rel="stylesheet")
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    body
        header
            hr
            div.container
                div.row
                    div.col-xs-9
                        nav.navbar.navbar-default
                            ul.nav.navbar-nav
                                if isLoggedIn
                                    li
                                        a.headerFonts(href="/home")
                                            | Home
                                    li
                                        a.headerFonts(href="/profile")
                                            | Profile
                                    li
                                        a.headerFonts(href="/Library")
                                            | Library
                                    li
                                        a.headerFonts(href="#Glossary")
                                            | Glossary
                                    li
                                        a.headerFonts(href="#Glossary")
                                            | Glossary
                                else
                                    li.dropdown
                                        a.headerFonts(href="/home")
                                            | Home
                                        ul.dropdown-menu
                                            li
                                                a(href="/home")
                                                    | Action
                                            li
                                                a(href="/home")
                                                    | Action
                                    li
                                        a.headerFonts(href="/profile")
                                            | Profile
                                    li
                                        a.headerFonts(href="/Library")
                                            | Library
                                    li
                                        a.headerFonts(href="#Glossary")
                                            | Glossary
                                    li
                                        a.headerFonts(href="#Glossary")
                                            | Glossary
                    div.col-xs-3.text-right.right-nav
                        form.pull-left
                            input(type="text")
                        if isLoggedIn
                            a.pull-right(href="/login/logout")
                                | Logout
                        else
                            a.pull-right(href="/login")
                                | login
        div.container
            div.row
                div.col-md-12
                    block content

        include footer