doctype html
html(lang= "ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href="/material/css/roboto.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/material/css/material.css" rel="stylesheet")
        link(href="/material/css/ripples.min.css" rel="stylesheet")
        link(rel="shortcut icon" href="/images/ico.png")
        script(src='/scripts/angular.min.js')
        title #{title}
    body
        header
            a(href="/")
                img.header-image(src="/images/h.jpg")
            hr
            div.container
                if(isLoggedIn)
                    div.user-image
                        if(user.imageUrl)
                            img.img-circle(src="#{user.imageUrl}", style="width: 64px; height: 64px;")
                        else
                            img.img-circle(src="images/default-user-icon-profile.png", style="width: 64px; height: 64px;")
                        div(align="center")
                            p.text-primary(align="center") #{user.displayName}
                            a.text-muted(align="center" href="/login/logout") exit
                div.row
                    div.col-xs-9
                        nav.navbar.navbar-default
                            ul.nav.navbar-nav
                                i.mdi-home
                                if isLoggedIn
                                    li
                                        a(href="/home")
                                            span
                                                | Home
                                    li
                                        a(href="/profile")
                                            span
                                                | Profile
                                    li
                                        a(href="/Library")
                                            span
                                                | Library
                                        ul.dropdown-menu
                                            each val, index in sections
                                                li
                                                    a(href="/library#" + val._id)
                                                        | #{val.name}
                                    li
                                        a(href="/Courses")
                                            span
                                                | Courses
                                    li
                                        a(href="/Glossary")
                                            span
                                                | Glossary
                    div.col-xs-3.text-right.right-nav
                        //form.pull-left(method="get" id='searchtextform')
                        form.pull-left
                            input.form-control.col-lg-8(type="text" placeholder="Search" id="searchtext")
                        if isLoggedIn
                            a.pull-right(href="/login/logout")
                                | Logout
                        else
                            a.pull-right(href="/login")
                                | login

        div.container
            div.row
                div.col-md-12
                    block content

        include footer
    script(src='/js/common.js')